
.productos{
    font-size: 22px;
    color: #444;
    margin-bottom: 15px;
}

.items{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.item{

    padding: 20px;
    font-size: 20px;
    width: 400px;
    display: flex;
    flex-direction: column;
    text-align: initial;
    gap: 10px;
    transition: box-shadow .1s linear;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 1px 1px 0rgba(0,0,0,.1);
    border: 1px solid #dcdcdced;
    position: relative;
  
}

.item:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}


.item h3{
    /* font-size: 30px;
    margin: 5px 0; */

    min-height: 35px;
    color: #333;
    font-weight: 400;
    padding: 0; 



}

.contenedorNombre{
    display: flex;
}

.name{
    font-size: 22px;
    color: #444;
    margin-bottom: 10px;
   
}


.nameLink{
    color: #3483fa;
    text-decoration: none;
    font-weight: 400;
    padding-left: 15px;
    font-size: 14px;
    display: flex;
    min-width: 55px;
    align-items: center;
    margin-bottom: 5px;
}

.categoryProduct{
     font-size: 14px;
     color: #555;
     position: absolute;
     right: 0;
     top: 0;
     margin-right: 6px;
     margin-top: 6px;
}

/* ----Imagenes de la tarjeta---------- */
.imgCart{
display: flex;
justify-content: center !important;
}

.priceCart{
    font-size: 20px;
    font-weight: bold;
    color: #444;
}



/* -----------Nuevos estilos--------------- */
.body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(180deg, #0a6fe5, #4ba9e9 50%, #fff 50%, #fff 100%) ;
}
.card{
    display: flex;
    /* justify-content: center; */
    width: 300px;
    height: 380px;
    background-color: #fff;
    box-shadow: 0 15px 45px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    transition: 0.8s ease-in-out
}


.card:hover{
width: 600px;
}

.titleNuevo h3{
    font-size: 1.2em;
}


.card .imgBox{
    position: relative;
    min-width: 290px;
    width: 250px !important;
    height: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    /* transition: 0.8s; */
}

/* .card:hover .imgBox{
    transform: rotate(-35deg);
} */

.card .imgBox img{
    width: 200px !important;
    /* height: 85% !important; */
    /* background-color: #3483fa; */
}

.categoryNueva{
    position: absolute;
    top: 0;
    left: 0;
    color: #555;
    margin-left: 8px;
    margin-top: 8px;
}

.card .details{
    position: relative;
    min-width: 300px;
    background: #4ba9e9; 
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 20px;
    color: #fff;
}


.card .details::before{
content: "";
position: absolute;
left: 0;
width: 0;
height: 0;
border-bottom: 10px solid transparent;
border-top: 10px solid transparent;
border-left: 10px solid #fff;


}



.card .details .descriptionNueva h4{
font-size: 1.1em;
}

.card .details .descriptionNueva p{
font-size: 0.8em;
font-weight: 200;
}


.card .details .buy{
    display: flex;
    justify-content: space-between;
}


.card .details .buy .priceNuevo{
   font-size: 1.6em;
}

.card .details .buy .button{
    background: #fff;
    padding: 0.5em 0.8em;
}








.page {
    background-color: rgb(192, 8, 8);
    padding: 40px;
    display: flex;
    bottom: 0 0 50x rgba(0,0,0,0.15);
    transform: scale(0);
    animation: scale 0.3s ease forwards;
}



.info{
    font-size: 20px;
    margin:  10px 0;
}

.info h2{
    font-size: 30px;
    color: white;
}

.price{
    font-size: 28px;
    margin: 10px 0;
}


.image{
    width: 600px;
    min-width: 600px;
}

.listItem {
    display: flex;
    gap: 10px;
    border-bottom: solid 1px #ccc;
    padding: 10px 0;
    position: relative;
  }

  .imgItem span{
    width: 100px !important;
    height: 100px !important;
  }


.eliminar{
    all: unset;
    position: absolute;
    /* background: red; */
    padding: 10px 10px; 
    /* top: 0; */
    right: 0;
    bottom: 0;
    font-weight: bold;
}
.eliminar:hover{
    cursor: pointer;
}
.iconCart{
    color: #333;
    font-size: 20px;
    transition: transform .2s;
}

.iconCart:hover{
    transform: scale(1.2); 
}




.buttonCart{
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 30px !important;
}


.button{
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
    /* background-color: #2c3748; */
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
    text-align: center;
    /* color: white; */
    display: flex;
}

.iconView{
    margin-right: 40px;
    color: #444;
    
    transition: transform .2s;
}

.iconView:hover{
    transform: scale(1.2); 
}








@keyframes scale {
    from{
        transform: scale(0);
    }

    to{
        transform: scale(1);
    }
}